
<div class="masterside">

	<div class="sidebar">

			<div class="bio">

				<div class="bioTop">
					<h3 class="username">@<%= @user.username %></h3>
				</div>

				<div class="bioBottom">
					<p>Name: <%= @user.fname %> <%= @user.lname %></p>
					<p>Email: <%= @user.email %></p>
				</div>

			</div>

	</div>

</div>

<div class="main">

	<div class="container">
		
		<%= render @user.posts %>

	</div>

</div>	














