
<div class="masterside">

	<div class="sidebar">

			<div class="bio">

				<div class="bioTop">
					<p>@<%= @user.username %></p>
				</div>

				<div class="bioBottom">
					<p><%= @user.fname %> <%= @user.fname %></p>
					<p>Email: <%= @user.email %></p>
				</div>

			</div>

	</div>

</div>

<div class="main">

	<div class="container">
		
		<%= render @user.posts %>

	</div>

</div>	














