
<div class="masterside">
	<div class="sidebar">

			<div class="bio">
				<div class="bioTop">
					<p><%= @post.user.username %></p>
				</div>

				<div class="bioBottom">
					<p><%= @post.user.fname %></p>
					<p><%= @post.user.lname %></p>
					<p><%= @post.user.email %></p>
				</div>
			</div>

	</div>
</div>
<div class="main">

	<div class="container">
		
		<%= render @posts %>

		<div class="editPost">
			<%if current_user and current_user.id == @post.user_id %>
			<%= link_to 'Edit Post', edit_post_path(@post) %>
			<%end%>
		</div>

	</div>

	<div class="comments">
	</div>

</div>	





